body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url(./img/bg.jpg); /*imagem de fundo*/
    color: #333;
}

nav {
    background-color: #ac1212; /*cor da barra de cima*/
    display: flex;
    align-items: center;
}

nav img {
    padding: 10px;
    height: 200px;
}


nav a { /*caixa em cima do texto quando passa o cursor*/
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s; 
} /* Fim caixa em cima do texto quando passa o cursor*/

nav a:hover {
    background-color: #c24b4b; /* cor caixa do texto quando passa o cursor*/
}


.slider {  /* Delimita o tamanho e cria o espaço dos slides, imagens rotativas*/
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden; /* Deixar apenas uma img aparecendo*/
}


.slides { /* Organiza os inputs*/
    width: 3200px;
    height: 400px;
    display: flex;
}


.slides input { /* Esconde os radios*/
    display: none;
}


.slide { /* Posição das imgs*/
    width: 25%;
    position: relative;
    transition: 5s;
}


.slide img { /* Tamanho das imgs*/
    width: 800px;
}


.manual-navigation { /* Centraliza os botoes*/
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}


.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}/* Termina de centraliza os botoes*/


.manual-btn:not(:last-child) { /* Espaço entre eles*/
    margin-right: 40px;
}


.manual-btn:hover { /* Botão com a cor,branco*/
    background-color: #FFF;
}


#radio1:checked~.first { 
    margin-left: 0;
}


#radio2:checked~.first {
    margin-left: -25%;
}


#radio3:checked~.first {
    margin-left: -50%;
}


#radio4:checked~.first {
    margin-left: -75%;
}


.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}


.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}


#radio1:checked~.navigation-auto .auto-btn1 { /* O branco permanece*/
    background-color: #FFF;
}


#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #FFF;
}


#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #FFF;
}


#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #FFF;
}


footer { /* Rodapé de baixo*/
    text-align: center;
    background: url(./img/bg2.jpg);
    padding: 10px;
}


.copyright { /* Cor do texto Rodapé de baixo*/
    color: white;
    font-size: 13px;
    margin: 20px;
}